In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [18]:
#Load dataset into pandas dataframe
data = pd.read_csv("C:/Users/ADMIN/Desktop/CLG/spam.csv")
data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [7]:
#Split dataset into training and testing sets
train_data, test_data = train_test_split(data, test_size=0.2)

In [15]:
# Save split datasets to seprate csv files
# Train_data.to_csv("spam.csv", index=False)
# Test_data.to_csv("spam.csv", index=False)

In [10]:
train_data.shape

(4457, 2)

In [11]:
train_data.head(5)

     Category                                            Message
3361      ham                          Please attend the phone:)
3666      ham              Ha... U jus ate honey ar? So sweet...
3191      ham  Hi neva worry bout da truth coz the truth will...
911       ham  My love ! How come it took you so long to leav...
3127      ham                                U coming 2 pick me?

In [12]:
test_data.shape

(1115, 2)

In [14]:
test_data.head(5)

     Category                                            Message
5128      ham  Wot about on wed nite I am 3 then but only til 9!
4766      ham  if you text on your way to cup stop that shoul...
232       ham              Dear we are going to our rubber place
4942      ham  Omg you can make a wedding chapel in frontierv...
4467      ham                            Hey u still at the gym?